/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 :focus,
 :active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


/*--------------------*/


/*--------------------*/

#burger {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 3;
    top: 45px;
    right: 20px;
}

@media (max-width: 991px) {
    #burger {
        top: 30px;
        right: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.burger__but {
    position: relative;
    width: 25px;
    height: 2px;
    cursor: pointer;
    background: #E2C58F;
}

.burger__but:before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    display: block;
    width: 30px;
    height: 2px;
    background: #E2C58F;
    -webkit-transition: top 0.1s linear 0.1s, -webkit-transform 0.1s ease-in;
    transition: top 0.1s linear 0.1s, -webkit-transform 0.1s ease-in;
    transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
    transition: transform 0.1s ease-in, top 0.1s linear 0.1s, -webkit-transform 0.1s ease-in;
}

.burger__but:after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    display: block;
    width: 30px;
    height: 2px;
    background: #E2C58F;
    -webkit-transition: top 0.1s linear 0.1s, -webkit-transform 0.1s ease-in;
    transition: top 0.1s linear 0.1s, -webkit-transform 0.1s ease-in;
    transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
    transition: transform 0.1s ease-in, top 0.1s linear 0.1s, -webkit-transform 0.1s ease-in;
}

.burger__but.burger__active {
    background-color: transparent;
}

.burger__but.burger__active::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 0.1s linear, -webkit-transform 0.1s ease-in 0.1s;
    transition: top 0.1s linear, -webkit-transform 0.1s ease-in 0.1s;
    transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
    transition: top 0.1s linear, transform 0.1s ease-in 0.1s, -webkit-transform 0.1s ease-in 0.1s;
}

.burger__but.burger__active::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: top 0.1s linear, -webkit-transform 0.1s ease-in 0.1s;
    transition: top 0.1s linear, -webkit-transform 0.1s ease-in 0.1s;
    transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
    transition: top 0.1s linear, transform 0.1s ease-in 0.1s, -webkit-transform 0.1s ease-in 0.1s;
}

.burger__activation {
    right: 0;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}